$color-white: #fff;
$color-light-blue: #35b1b9;
$color-dark-blue: #006770;
$color-light-green: #ccffcc;
$color-orange: #f0a400;
$color-opaque-white: rgba($color-white, 0.85);

$shadow-dark-blue: 0 0 5px rgba($color-dark-blue, 0.25);
