@import "~styles/variables.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-opaque-white;
    box-shadow: $shadow-dark-blue;
    width: 100%;
    padding: 1rem 0;

    img {
        max-height: 2rem;
        margin-right: 0.5rem;
    }
}
